# all folders starting with _ are local
_*/

.DS_Store
**/.vscode/ipch

# byte-compiled python files
*.py[cod]

/.vs

/app

/assets/.thumbs
/assets/build
/source/apps
/assets/props/.thumbs

*.cbin
*.cinfo


/scratch.py
/temp.py
/release

tests/rtsp/deps
tests/rtsp/src/build
.nvcode
.nvidia-omniverse
_conan
_deps
_repo
_build
_compiler

.vscode/
source/

exts/sl.sensor.camera.bridge/bin/libsl.sensor.camera.bridge.plugin.so
exts/sl.sensor.camera.bridge/bin/sl.sensor.camera.bridge.plugin.dll