[package]
version = "4.2.0" # Semantic Versioning is used: https://semver.org/

# These fields are used primarily for display in the extension browser UI.
title = "Stereolabs ZED Camera"
description = "Integration of Stereolabs ZED cameras in Isaac Sim. Provides OmniGraph nodes for camera streaming and data capture with native ZED SDK support."
category = "Stereolabs"
keywords = ["Stereolabs", "ZED", "Camera", "Sensor", "OmniGraph", "Node", "Streaming"]
icon = "data/icon.png"
preview_image = ""
changelog = "docs/CHANGELOG.md"
readme  = "docs/README.md"
authors = ["Stereolabs"]
repository = "https://github.com/stereolabs/zed-isaac-sim"

# Watch the .ogn files for hot reloading (only works for Python files)
[fswatcher.patterns]
include = ["*.ogn", "*.py"]
exclude = ["Ogn*Database.py"]

[package.target]
platform = ["windows-x86_64", "linux-x86_64"]
kit = ["107.3"]

[package.writeTarget]
kit = true

[dependencies]
"omni.graph.core" = {}
"omni.replicator.core" = {}
"omni.graph.tools" = {}

[[python.module]]
name = "sl.sensor.camera"

[[native.plugin]]
path = "bin/*.plugin"

[[native.library]]
"filter:platform"."linux-x86_64".path = "bin/${lib_prefix}sl_zed${lib_ext}"
"filter:platform"."windows-x86_64".path = "bin/${lib_prefix}sl_zed64${lib_ext}"

[documentation]
pages = [
    "docs/Overview.md",
    "docs/CHANGELOG.md",
]
